@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    height: 100vh;
    width: 100%;

}
.logo{
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: azure;
    font-weight: 600;
}

ul a{
    border: 2px solid  white;
    font-size: 25px;
    position: relative;
    color: white;
    padding: 10px 25px;
    right: -70%;
    animation: 2px solid white reverse infinite;
    border-radius: 10rem;
}
